@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap');

*{
    color: #eee;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    background-color: #17212f;
    font-family: 'Poppins';
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(17, 17, 17);
}

a {
    text-decoration: none;
}

main {
    flex: 1 0 auto;
    padding-top: 0px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

footer {
    flex: 0 0 auto;
    height: 60px;
    align-items: center;
}

.footer-text {
    padding-top: 15px;
}

.releases {
    border-radius: 10px;
    margin: 5% 15% 5% 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #42454b48;
    max-width: 100%;
    position: relative;
}

.card {
    background-color: #2020207e;
    box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);
    color: #B3B8CD;
    padding-top: 10px;
    max-width: 100%;
    margin-bottom: 10px;
}

.logo {
    width: 100px;
    margin-left: 3px;
}

@media(max-width:800px) {
    .releases {
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }

}