@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap');

*{
  color: #eee;
}

html{
  font-family: 'Poppins';
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(22, 22, 22);
}

main {
  flex: 1 1 auto;
}

.about-lang {
  padding-top: 5px;
}

.main-logo {
  display: flex;
  object-fit: contain;
}

.main-page {
  margin: 50px;
}

footer {
  flex: 0 0 auto;
  height: 60px;
  align-items: center;
}

.footer-text {
  padding-top: 15px;
}

.container {
  width: 100%;
  margin: auto;
}

/*sections*/

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Live Code Editor*/
.livecode {
  margin-top: 5%;
  background-color: --bs-danger;
  border-radius: 10px;
}

.lci {
  height: 200px;
  border-radius: 10px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.livecode .title {
  margin: 0 auto;
}

.lci .editor {
  border-radius: 10px 0 0 10px;
  height: 98%;
  background-color: --bs-danger;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre;
  outline: none;
  border-right: #ffffff;
}

.lci .output {
  border-radius: 0 10px 10px 0;
  height: 98%;
  background-color: #1b1b1b96;
  width: 50%;
  overflow-y: auto;
  white-space: pre;
  right: 0;
}

.runcode {
  margin: 3px;
}

.medeby {
  text-decoration: none;
  color: #eee;
}

@media (max-width: 750px) {

  .container{
    margin-top: 2.3rem;
  }
  section {
    height: 80vh;
  }

  .main-page {
    margin-left: 2%;
    margin-right: 2%;
  }

  .main-logo {
    width: 40%;
  }

  @media (max-width: 540px) {
    html {
      font-size: 0.8rem;
    }

    .main-logo {
      display: flex;
      max-width: 80%;
      object-fit: contain;
    }
  }
}