@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap');

*{
  color: #eee;
}

html{
  font-family: 'Poppins';
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(22, 22, 22);
}

main {
  flex: 1 1 auto;
}

.about-lang {
  padding-top: 5px;
}

.main-logo {
  display: flex;
  object-fit: contain;
}

.main-page {
  margin: 50px;
}

footer {
  flex: 0 0 auto;
  height: 60px;
  align-items: center;
}

.footer-text {
  padding-top: 15px;
}

.container {
  width: 100%;
  margin: auto;
}

.yt{
  margin: 10px;
}

.yt iframe{
  border-radius: 5px;
}
/*sections*/

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.medeby {
  text-decoration: none;
  color: #eee;
}

@media (max-width: 750px) {

  .container{
    margin-top: 2.3rem;
  }
  section {
    height: 80vh;
  }

  .yt iframe{
    width: 100%;
    height: 200px;
  }

  .main-page {
    margin-left: 2%;
    margin-right: 2%;
  }

  .main-logo {
    width: 40%;
  }

  @media (max-width: 540px) {
    html {
      font-size: 0.8rem;
    }

    .main-logo {
      display: flex;
      max-width: 80%;
      object-fit: contain;
    }
  }
}